@{
    ViewData["Title"] = "Home Page";
}
<div id="jsontext"></div>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () { 

        $.get('http://localhost:18126/Home/GetJson', function (data) {
            $("#jsontext").html(data.ok);
         })
    })
</script>